.frase {
  font-size: 24px !important;
  text-align: center;
  font-weight: bold;
}

.frase span {
  color: #00a3dc;
}

.btn-voltar {
  width: 100px;
  position: absolute;
  top: 15px;
  left: 15px;
}

.tipo-cliente {
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.prestador {
  border-left: 1px solid #000;
}

.prestador-ativo {
  color: white;
  background-color: #00a3dc;
  border-left: 1px solid #000;
}

.cliente-ativo {
  color: white;
  background-color: #00a3dc;
  border-left: 1px solid #000;
}

.esconde-geral {
  display: none;
}

.info-endereco {
  display: none;
}

.esconde {
  display: none;
}

.contador-pagina {
  position: absolute;
  width: 30px;
  left: 43%;
  font-size: 25px;
  font-weight: bold;
  color: #122a57;
}

.navegacao-form {
  position: relative;
}
